/*//////////////////////////////////////////////
// ESTILOS BASE DEL PROYECTO ////////////////////////
//////////////////////////////////////////////*/
//Modifique los estilos base del tema desde las variables
	body {
		background  : $body--background;
		font-family : $body--font-family;
		color       : $body--color;
	}

	a {
		color       : $link--color;
		text-decoration : none;
	}

	p, blockquote, li {
		font-size   : $p--font-size;
		line-height : $p--line-height;
	}

	p {
		margin : 0 0 $p--margin 0;
	}

	blockquote {

	}

// Encabezados
	h1, h2, h3, h4, h5, h6 {
		font-family    : $header--font-family;
		font-weight    : $header--font-weight;
		text-transform : $header--text-transform;
		color          : $header--color;
	}
// Tamaños y estilos de los encabezados:
	h1 {
		font-size : $h1--font-size;
		line-height: 110%;
		line-height:  $h--line-height;
	}

	h2 {
		font-size : $h2--font-size;
		line-height:  $h--line-height;
	}

	h3 {
		font-size : $h3--font-size;
		line-height:  $h--line-height;
	}

	h4 {
		font-size : $h4--font-size;
		line-height:  $h--line-height;
	}

	h5 {
		font-size : $h5--font-size;
		line-height:  $h--line-height;
	}

	h6 {
		font-size : $h6--font-size;
		line-height:  $h--line-height;
	}

	pre{
		background-color: #3E3E3E;
		padding: 15px;
		font-size: 0.9em;
		color: #fff;
		border-radius: 3px;
	}
