
// Ejemplos de framework
#cuadricula{
	@include cuadricula(div,5,0.5%);
	div {
		background-color: tomato;
	}
}
.grilla-ejemplo {
	background-color: tomato;
	color: #FFF;
	min-height: 40px;
	margin: 5px 0;
}


.container{
	&.main{
		.row{
			.col{
				&[class^='s']{}
				&[class^='sm']{}
				&[class^='m']{}
			}
		}
	}
}
