// VARIABLES DEL TEMA

///////////////////////////////////////////////
// Variables tipografía ///////////////////////
///////////////////////////////////////////////

// Font face. Incluya el import de Google Fonts o su regla font-face
// Lo usual es una fuente para los textos y otra para los títulos
    /*//////////////////////////////////////////////
    // Font face tema ///////////////////////
    //////////////////////////////////////////////*/
    //
    ///////////////////////////////////////////////
    // Variables tipografía ///////////////////////
    ///////////////////////////////////////////////

	//

    // Variables para aplicarlas en font-weight
        $light      : 300;
        $normal     : 400;
        $semi-bold  : 600;
        $bold       : 700;
        $extra-bold : 800;

    // ESTILOS BASE
        $body--background  : #fff;                      // fondo para el body
        $body--font-family : 'Open Sans', sans-serif;                 // fuente predeterminada, // 'Open Sans', sans-serif;
        $body--color       : #333;                      // color de texto predeterminado

    // ESTILOS DE ENCABEZADOS
        $header--font-family    :'Open Sans', sans-serif;  // fuente para los headers (h1,h2,h3...)
        $header--font-weight    : $normal;                    // grosor de fuente para los headers
        $header--text-transform : normal;                   // normal, uppercase, lowercase, capitalize
        $header--color          : #222;                     // color predeterminado de los header

    // TAMAÑO DE LOS ENCABEZADOS (h1...h6)  -> Personalizar si no se desea usar los tamaños fijos del framework
        $h1--font-size : 2em;
        $h2--font-size : 1.6em;
        $h3--font-size : 1.3em;
        $h4--font-size : 1em;
        $h5--font-size : .9em;
        $h6--font-size : .8em;
        $h--line-height : 110%; // Separación entre

    // ESTIILOS DE ENLACES
        $link--color : initial;  // color para los enlaces

    // ESTILOS DE PÁRRAFOS
        $p--font-size   : 1em;          // Tamaño de fuente
        $p--line-height : 110%;          // Altura de línea
        $p--margin      : 1em;          // Separación entre un párrafo y el siguiente
        $p--font-weight : $normal;      // Grosor predeterminado de la fuente
