// RWD Bases
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//Modifique los estilos base del tema desde las variables
	body {
		margin: 0;
		padding: 0;
		font-family: sans-serif;
		background  : $body--background;
		font-family : $body--font-family;
		color       : $body--color;
	}

	a {
		color       : $link--color;
		text-decoration : none;
	}

	p, blockquote, li {
		font-size   : $p--font-size;
		line-height : $p--line-height;
	}

	p {
		margin : 0 0 $p--margin 0;
	}

	blockquote {

	}

// Encabezados
	h1, h2, h3, h4, h5, h6 {
		font-family    : $header--font-family;
		font-weight    : $header--font-weight;
		text-transform : $header--text-transform;
		color          : $header--color;
	}

// Tamaños y estilos de los encabezados:
	h1 {
		font-size : $h1--font-size;
		line-height:  $h--line-height;
		margin: ($h1--font-size/2) 0 ($h1--font-size / 2.5) 0;
	}

	h2 {
		font-size : $h2--font-size;
		line-height:  $h--line-height;
		margin: ($h2--font-size/2) 0 ($h2--font-size / 2.5) 0;
	}

	h3 {
		font-size : $h3--font-size;
		line-height:  $h--line-height;
		margin: ($h3--font-size/2) 0 ($h3--font-size / 2.5) 0;
	}

	h4 {
		font-size : $h4--font-size;
		line-height:  $h--line-height;
		margin: ($h4--font-size/2) 0 ($h4--font-size / 2.5) 0;
	}

	h5 {
		font-size : $h5--font-size;
		line-height:  $h--line-height;
		margin: ($h5--font-size/2) 0 ($h5--font-size / 2.5) 0;
	}

	h6 {
		font-size : $h6--font-size;
		line-height:  $h--line-height;
		margin: ($h6--font-size/2) 0 ($h6--font-size / 2.5) 0;
	}
