// Las variables se definene en el arcihvo estilos.scss

// Clases para definir colores de texto
.text-white     {color: $white;}
.text-black     {color: $black;}
.text-gray      {color: $gray;}
.text-gray2     {color: $gray2;}
.text-gray3     {color: $gray3;}
.text-gray4     {color: $gray4;}
.text-gray5     {color: $gray5;}
.text-yellow    {color: $yellow;}
.text-yellow2   {color: $yellow2;}
.text-yellow3   {color: $yellow3;}
.text-orange    {color: $orange;}
.text-orange2   {color: $orange2;}
.text-naranja   {color: $naranja;}
.text-naranja2  {color: $naranja2;}
.text-naranja3  {color: $naranja3;}
.text-cafe		{color: $cafe;}
.text-red       {color: $red;}
.text-red2      {color: $red2;}
.text-red3      {color: $red3;}
.text-lila      {color: $lila;}
.text-lila2     {color: $lila2;}
.text-mora      {color: $mora;}
.text-mora2     {color: $mora2;}
.text-darkBlue  {color: $darkBlue;}
.text-lightBlue {color: $lightBlue;}
.text-blue      {color: $blue;}
.text-blue2     {color: $blue2;}
.text-blue3     {color: $blue3;}
.text-blue4     {color: $blue4;}
.text-blue5     {color: $blue5;}
.text-blue6     {color: $blue6;}
.text-blue7     {color: $blue7;}
.text-blue8     {color: $blue8;}
.text-blue9     {color: $blue9;}
.text-green     {color: $green;}
.text-green2     {color: $green2;}
.text-coffee    {color: $cafe;}

// Clases para definir colores de background-color
.bg-white     {background-color: $white;}
.bg-black     {background-color: $black;}
.bg-gray      {background-color: $gray;}
.bg-gray2     {background-color: $gray2;}
.bg-gray3     {background-color: $gray3;}
.bg-gray4     {background-color: $gray4;}
.bg-gray5     {background-color: $gray5;}
.bg-yellow    {background-color: $yellow;}
.bg-yellow2   {background-color: $yellow2;}
.bg-yellow3   {background-color: $yellow3;}
.bg-orange    {background-color: $orange;}
.bg-orange2   {background-color: $orange2;}
.bg-naranja   {background-color: $naranja;}
.bg-naranja2  {background-color: $naranja2;}
.bg-naranja3  {background-color: $naranja3;}
.bg-cafe		{background-color: $cafe;}
.bg-red       {background-color: $red;}
.bg-red2      {background-color: $red2;}
.bg-red3      {background-color: $red3;}
.bg-lila      {background-color: $lila;}
.bg-lila2     {background-color: $lila2;}
.bg-mora      {background-color: $mora;}
.bg-mora2     {background-color: $mora2;}
.bg-darkBlue  {background-color: $darkBlue;}
.bg-lightBlue {background-color: $lightBlue;}
.bg-blue      {background-color: $blue;}
.bg-blue2     {background-color: $blue2;}
.bg-blue3     {background-color: $blue3;}
.bg-blue4     {background-color: $blue4;}
.bg-blue5     {background-color: $blue5;}
.bg-blue6     {background-color: $blue6;}
.bg-blue7     {background-color: $blue7;}
.bg-blue8     {background-color: $blue8;}
.bg-blue9     {background-color: $blue9;}
.bg-green     {background-color: $green;}
.bg-green2     {background-color: $green2;}
.bg-coffee    {background-color: $cafe;}
