// contenedor General para centrar contenido en el navegador
.container {
	margin: 0 auto;
	width: 100%;
	max-width: $max-width;
	//Limpiar el float
	&:before, &:after {
		content : "";
		display : table;
		clear   : both;
	}
	// @include desde(m) {
	// 	width: 100%;
	// }
	@include desde(t) {
		width: 85%;
	}
	@include desde(d) {
		width: 75%;
	}
}

// Configuración base para columnas y filas
.row {
	width      : 100%;
	// max-width  : $max-width;
	position   : relative;
	margin     : 0 auto;
	min-height: 1px;

	&.total,
	&.full {
	    max-width : 100%;
	}

    //Limpiar el float
	&:before, &:after {
		content : "";
		display : table;
		clear   : both;
	}

}
.col {
	position: relative;
	float         : left;
	margin        : 0;
	padding-left  : ($padding / 2);
	padding-right : ($padding / 2);
	width         : 100%;
	min-height: 1px;

	&.total,
	&.full {
		float   : none;
		display : table;
	}

	//Limpiar el float
	&:before, &:after {
		content : "";
		display : table;
		clear   : both;
	}
}

// Breakpoints
@each $size, $screen-size in $grid-breakpoints{
	/*Clase #{$size}: A partir de #{$screen-size}*/
	@media all and (min-width: $screen-size){
		/*Grilla */
		@for $i from 1 through 12 {
			.#{$size}#{$i},
            .col.#{$size}#{$i}{
				width: unquote($i*8.33333333333333 + "%");
			}
		}
	}
}
