// movil-tabla, tablet-tabla, web-tabla, hd-tabla
@each $size, $screen-size in $grid-breakpoints{
	@media all and (min-width: $screen-size){
		.row.#{$size}-tabla{
			display: table;

			& > .col {
				float   : none;
				display : table-cell;
			}

            &.medio > .col {
                vertical-align: middle;
            }

            &.arriba > .col {
                vertical-align: top;
            }

            &.abajo > .col {
                vertical-align: bottom;
            }
		}
	}
}

.col.medio {
    vertical-align: middle;
}

.col.arriba {
    vertical-align: top;
}

.col.abajo {
    vertical-align: bottom;
}