head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title HarleySG - Portfolio
	link(rel="stylesheet", href="../../assets/css/estilos.css")
	link(rel="stylesheet", href="../../assets/css/module-3.css")
	link(rel='stylesheet', href='../../assets/css/animated.css')
