@charset "UTF-8";
/*//////////////////////////////////////////////
        // INICIO LIBRERIA NORMALIZE //////////////////
        //////////////////////////////////////////////*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800);
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*//////////////////////////////////////////////
        // FIN LIBRERIA NORMALIZE //////////////////////
        //////////////////////////////////////////////*/
/*//////////////////////////////////////////////
// INICIO FRAMEWORK DIGITAL ////////////////////
//////////////////////////////////////////////*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fff;
  font-family: "Open Sans", sans-serif;
  color: #333; }

a {
  color: initial;
  text-decoration: none; }

p, blockquote, li {
  font-size: 1rem;
  line-height: 110%; }

p {
  margin: 0 0 1rem 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: normal;
  color: #222; }

h1 {
  font-size: 3.5rem;
  line-height: 110%;
  margin: 1.75rem 0 1.4rem 0; }

h2 {
  font-size: 2.5rem;
  line-height: 110%;
  margin: 1.25rem 0 1rem 0; }

h3 {
  font-size: 1.5rem;
  line-height: 110%;
  margin: 0.75rem 0 0.6rem 0; }

h4 {
  font-size: 1.2rem;
  line-height: 110%;
  margin: 0.6rem 0 0.48rem 0; }

h5 {
  font-size: 1rem;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0; }

h6 {
  font-size: 0.9rem;
  line-height: 110%;
  margin: 0.45rem 0 0.36rem 0; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px; }
  .container:before, .container:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 992px) {
    .container {
      width: 85%; } }
  @media screen and (min-width: 1200px) {
    .container {
      width: 75%; } }

.row {
  width: 100%;
  position: relative;
  margin: 0 auto;
  min-height: 1px; }
  .row.total, .row.full {
    max-width: 100%; }
  .row:before, .row:after {
    content: "";
    display: table;
    clear: both; }

.col {
  position: relative;
  float: left;
  margin: 0;
  padding-left: 7.5px;
  padding-right: 7.5px;
  width: 100%;
  min-height: 1px; }
  .col.total, .col.full {
    float: none;
    display: table; }
  .col:before, .col:after {
    content: "";
    display: table;
    clear: both; }

/*Clase m: A partir de 480px*/
@media all and (min-width: 480px) {
  /*Grilla */
  .m1,
  .col.m1 {
    width: 8.33333%; }
  .m2,
  .col.m2 {
    width: 16.66667%; }
  .m3,
  .col.m3 {
    width: 25%; }
  .m4,
  .col.m4 {
    width: 33.33333%; }
  .m5,
  .col.m5 {
    width: 41.66667%; }
  .m6,
  .col.m6 {
    width: 50%; }
  .m7,
  .col.m7 {
    width: 58.33333%; }
  .m8,
  .col.m8 {
    width: 66.66667%; }
  .m9,
  .col.m9 {
    width: 75%; }
  .m10,
  .col.m10 {
    width: 83.33333%; }
  .m11,
  .col.m11 {
    width: 91.66667%; }
  .m12,
  .col.m12 {
    width: 100%; } }

/*Clase bm: A partir de 768px*/
@media all and (min-width: 768px) {
  /*Grilla */
  .bm1,
  .col.bm1 {
    width: 8.33333%; }
  .bm2,
  .col.bm2 {
    width: 16.66667%; }
  .bm3,
  .col.bm3 {
    width: 25%; }
  .bm4,
  .col.bm4 {
    width: 33.33333%; }
  .bm5,
  .col.bm5 {
    width: 41.66667%; }
  .bm6,
  .col.bm6 {
    width: 50%; }
  .bm7,
  .col.bm7 {
    width: 58.33333%; }
  .bm8,
  .col.bm8 {
    width: 66.66667%; }
  .bm9,
  .col.bm9 {
    width: 75%; }
  .bm10,
  .col.bm10 {
    width: 83.33333%; }
  .bm11,
  .col.bm11 {
    width: 91.66667%; }
  .bm12,
  .col.bm12 {
    width: 100%; } }

/*Clase t: A partir de 992px*/
@media all and (min-width: 992px) {
  /*Grilla */
  .t1,
  .col.t1 {
    width: 8.33333%; }
  .t2,
  .col.t2 {
    width: 16.66667%; }
  .t3,
  .col.t3 {
    width: 25%; }
  .t4,
  .col.t4 {
    width: 33.33333%; }
  .t5,
  .col.t5 {
    width: 41.66667%; }
  .t6,
  .col.t6 {
    width: 50%; }
  .t7,
  .col.t7 {
    width: 58.33333%; }
  .t8,
  .col.t8 {
    width: 66.66667%; }
  .t9,
  .col.t9 {
    width: 75%; }
  .t10,
  .col.t10 {
    width: 83.33333%; }
  .t11,
  .col.t11 {
    width: 91.66667%; }
  .t12,
  .col.t12 {
    width: 100%; } }

/*Clase d: A partir de 1200px*/
@media all and (min-width: 1200px) {
  /*Grilla */
  .d1,
  .col.d1 {
    width: 8.33333%; }
  .d2,
  .col.d2 {
    width: 16.66667%; }
  .d3,
  .col.d3 {
    width: 25%; }
  .d4,
  .col.d4 {
    width: 33.33333%; }
  .d5,
  .col.d5 {
    width: 41.66667%; }
  .d6,
  .col.d6 {
    width: 50%; }
  .d7,
  .col.d7 {
    width: 58.33333%; }
  .d8,
  .col.d8 {
    width: 66.66667%; }
  .d9,
  .col.d9 {
    width: 75%; }
  .d10,
  .col.d10 {
    width: 83.33333%; }
  .d11,
  .col.d11 {
    width: 91.66667%; }
  .d12,
  .col.d12 {
    width: 100%; } }

/*Clase xd: A partir de 1300px*/
@media all and (min-width: 1300px) {
  /*Grilla */
  .xd1,
  .col.xd1 {
    width: 8.33333%; }
  .xd2,
  .col.xd2 {
    width: 16.66667%; }
  .xd3,
  .col.xd3 {
    width: 25%; }
  .xd4,
  .col.xd4 {
    width: 33.33333%; }
  .xd5,
  .col.xd5 {
    width: 41.66667%; }
  .xd6,
  .col.xd6 {
    width: 50%; }
  .xd7,
  .col.xd7 {
    width: 58.33333%; }
  .xd8,
  .col.xd8 {
    width: 66.66667%; }
  .xd9,
  .col.xd9 {
    width: 75%; }
  .xd10,
  .col.xd10 {
    width: 83.33333%; }
  .xd11,
  .col.xd11 {
    width: 91.66667%; }
  .xd12,
  .col.xd12 {
    width: 100%; } }

/* 	ESTILOS PARA DESARROLLO
	========================
	Añada la clase "desarrollo"
   	a body para tener ayudas al trabajar con ED GRID
*/
body.desarrollo {
  padding: 0 !important;
  margin: 0 !important; }
  body.desarrollo:before {
    background: steelblue;
    /*Azul Escuela Digital*/
    color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    display: block;
    height: 36px;
    margin-bottom: 30px;
    position: relative;
    z-index: 900; }
  body.desarrollo .row {
    padding-top: 22px;
    margin-bottom: 10px;
    outline: 1px solid tomato; }
    body.desarrollo .row .col {
      position: relative;
      padding-bottom: 22px; }
      body.desarrollo .row .col:nth-child(even) {
        background: rgba(70, 130, 180, 0.2); }
    body.desarrollo .row .row {
      margin-bottom: 0; }

.desarrollo .row .col:after,
.desarrollo .row:before {
  content: attr(class);
  font-style: italic;
  font-size: 12px;
  font-weight: normal;
  padding: 0 5px;
  z-index: 1;
  bottom: 0;
  right: 0;
  position: absolute;
  display: table;
  width: 100%;
  height: 22px;
  line-height: 22px; }

.desarrollo .row:before {
  background: rgba(255, 99, 71, 0.3);
  color: tomato;
  top: 0;
  left: 0;
  width: 100%; }

.desarrollo .col:after {
  background: rgba(70, 130, 180, 0.2);
  color: steelblue; }

.desarrollo .col.total:after {
  background: rgba(27, 50, 70, 0.3); }

body.desarrollo:before {
  content: "ED-GRID: Tamaño base"; }

@media screen and (min-width: 480px) {
  body.desarrollo:before {
    content: "ED-GRID: Tamaño m, desde 480px"; } }

@media screen and (min-width: 768px) {
  body.desarrollo:before {
    content: "ED-GRID: Tamaño bm, desde 768px"; } }

@media screen and (min-width: 992px) {
  body.desarrollo:before {
    content: "ED-GRID: Tamaño t, desde 992px"; } }

@media screen and (min-width: 1200px) {
  body.desarrollo:before {
    content: "ED-GRID: Tamaño d, desde 1200px"; } }

@media screen and (min-width: 1300px) {
  body.desarrollo:before {
    content: "ED-GRID: Tamaño xd, desde 1300px"; } }

.row.demostrar {
  outline: 1px solid tomato;
  margin: 1em auto; }
  .row.demostrar > .col {
    background: #eee;
    box-shadow: 0 0 0 1px steelblue;
    padding-top: 1em;
    padding-bottom: 1em; }
    .row.demostrar > .col p {
      margin-bottom: 0; }
    .row.demostrar > .col:nth-child(odd) {
      background: #ddd; }
    .row.demostrar > .col.total {
      background: #fff; }

@media screen and (max-width: 479px) {
  .desde-m {
    display: none !important; } }

@media screen and (max-width: 767px) {
  .desde-bm {
    display: none !important; } }

@media screen and (max-width: 991px) {
  .desde-t {
    display: none !important; } }

@media screen and (max-width: 1199px) {
  .desde-d {
    display: none !important; } }

@media screen and (max-width: 1299px) {
  .desde-xd {
    display: none !important; } }

@media screen and (min-width: 480px) {
  .hasta-m {
    display: none !important; } }

@media screen and (min-width: 768px) {
  .hasta-bm {
    display: none !important; } }

@media screen and (min-width: 992px) {
  .hasta-t {
    display: none !important; } }

@media screen and (min-width: 1200px) {
  .hasta-d {
    display: none !important; } }

@media screen and (min-width: 1300px) {
  .hasta-xd {
    display: none !important; } }

@media all and (min-width: 480px) {
  .offset-m1 {
    margin-left: 8.33333%; }
  .offset-m2 {
    margin-left: 16.66667%; }
  .offset-m3 {
    margin-left: 25%; }
  .offset-m4 {
    margin-left: 33.33333%; }
  .offset-m5 {
    margin-left: 41.66667%; }
  .offset-m6 {
    margin-left: 50%; }
  .offset-m7 {
    margin-left: 58.33333%; }
  .offset-m8 {
    margin-left: 66.66667%; }
  .offset-m9 {
    margin-left: 75%; }
  .offset-m10 {
    margin-left: 83.33333%; }
  .offset-m11 {
    margin-left: 91.66667%; }
  .offset-m12 {
    margin-left: 100%; } }

@media all and (min-width: 768px) {
  .offset-bm1 {
    margin-left: 8.33333%; }
  .offset-bm2 {
    margin-left: 16.66667%; }
  .offset-bm3 {
    margin-left: 25%; }
  .offset-bm4 {
    margin-left: 33.33333%; }
  .offset-bm5 {
    margin-left: 41.66667%; }
  .offset-bm6 {
    margin-left: 50%; }
  .offset-bm7 {
    margin-left: 58.33333%; }
  .offset-bm8 {
    margin-left: 66.66667%; }
  .offset-bm9 {
    margin-left: 75%; }
  .offset-bm10 {
    margin-left: 83.33333%; }
  .offset-bm11 {
    margin-left: 91.66667%; }
  .offset-bm12 {
    margin-left: 100%; } }

@media all and (min-width: 992px) {
  .offset-t1 {
    margin-left: 8.33333%; }
  .offset-t2 {
    margin-left: 16.66667%; }
  .offset-t3 {
    margin-left: 25%; }
  .offset-t4 {
    margin-left: 33.33333%; }
  .offset-t5 {
    margin-left: 41.66667%; }
  .offset-t6 {
    margin-left: 50%; }
  .offset-t7 {
    margin-left: 58.33333%; }
  .offset-t8 {
    margin-left: 66.66667%; }
  .offset-t9 {
    margin-left: 75%; }
  .offset-t10 {
    margin-left: 83.33333%; }
  .offset-t11 {
    margin-left: 91.66667%; }
  .offset-t12 {
    margin-left: 100%; } }

@media all and (min-width: 1200px) {
  .offset-d1 {
    margin-left: 8.33333%; }
  .offset-d2 {
    margin-left: 16.66667%; }
  .offset-d3 {
    margin-left: 25%; }
  .offset-d4 {
    margin-left: 33.33333%; }
  .offset-d5 {
    margin-left: 41.66667%; }
  .offset-d6 {
    margin-left: 50%; }
  .offset-d7 {
    margin-left: 58.33333%; }
  .offset-d8 {
    margin-left: 66.66667%; }
  .offset-d9 {
    margin-left: 75%; }
  .offset-d10 {
    margin-left: 83.33333%; }
  .offset-d11 {
    margin-left: 91.66667%; }
  .offset-d12 {
    margin-left: 100%; } }

@media all and (min-width: 1300px) {
  .offset-xd1 {
    margin-left: 8.33333%; }
  .offset-xd2 {
    margin-left: 16.66667%; }
  .offset-xd3 {
    margin-left: 25%; }
  .offset-xd4 {
    margin-left: 33.33333%; }
  .offset-xd5 {
    margin-left: 41.66667%; }
  .offset-xd6 {
    margin-left: 50%; }
  .offset-xd7 {
    margin-left: 58.33333%; }
  .offset-xd8 {
    margin-left: 66.66667%; }
  .offset-xd9 {
    margin-left: 75%; }
  .offset-xd10 {
    margin-left: 83.33333%; }
  .offset-xd11 {
    margin-left: 91.66667%; }
  .offset-xd12 {
    margin-left: 100%; } }

/*
	UTILIDADES RDW
	==================
*/
.centrado {
  display: block;
  clear: both;
  float: none !important;
  margin-right: auto !important;
  margin-left: auto !important; }

.total {
  width: 100%;
  clear: both; }

ul {
  padding: 0; }

/* Multimedia responsive */
img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }
  .video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.digitalButton {
  min-width: 100px;
  height: 40px;
  font-size: 1em;
  color: #B1B2B2;
  background: #fff;
  display: inline-block;
  line-height: 40px;
  padding: 0 2em;
  border: none;
  border-radius: 0;
  cursor: pointer;
  margin: 0 5px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: .5px; }
  .digitalButton:hover {
    background: #fff; }
  .digitalButton.large {
    height: 40px;
    font-size: 1.3em;
    padding: 0 2.3; }
  .digitalButton.round {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    padding: 0.5em; }
    .digitalButton.round span {
      text-align: center;
      padding-top: 18%;
      display: block; }

/*// Hacks grilla */
.f-l {
  float: left; }

.f-r {
  float: right; }

.ta-c {
  text-align: center; }

.ta-l {
  text-align: left; }

.ta-r {
  text-align: right; }

.no-padding {
  padding: 0 !important; }

.PAbsolute {
  position: absolute; }

.PRelative {
  position: relative; }

.PFixed {
  position: fixed; }

.va-t {
  vertical-align: top; }

.va-b {
  vertical-align: bottom; }

.va-m {
  vertical-align: middle; }

/* ------------------ */
/* -- DISPLAY -- */
.D-inline {
  display: inline-block;
  vertical-align: middle; }

.D-block {
  display: block;
  vertical-align: middle; }

.alinear:after, .alinear:before {
  content: "";
  clear: both;
  display: table; }

.alinear .x2 {
  width: 49%;
  display: inline-block;
  margin: 0;
  margin-right: 1%; }
  .alinear .x2:last-child {
    margin-right: 0; }

.alinear .x3 {
  width: 32%;
  display: inline-block;
  margin: 0;
  margin-right: 1%; }
  .alinear .x3:last-child {
    margin-right: 0; }

.alinear .x4 {
  width: 23%;
  display: inline-block;
  margin: 0;
  margin-right: 1%; }
  .alinear .x4:last-child {
    margin-right: 0; }

.alinear .x5 {
  width: 18%;
  display: inline-block;
  margin: 0;
  margin-right: 1%; }
  .alinear .x5:last-child {
    margin-right: 0; }

.indice-parrafo .uno, .indice-parrafo .dos {
  float: left;
  min-height: 1px; }
  .indice-parrafo .uno:after, .indice-parrafo .dos:after {
    content: "";
    clear: both;
    display: table; }

.indice-parrafo .uno {
  width: 5%;
  margin: 0 1% 0 0; }

.indice-parrafo .dos {
  width: 93%;
  margin: 0 0 0 1%; }

.divisor_der {
  border-right: 1px dashed gray; }
  .divisor_der:last-child {
    border-right: none; }

.divisor_izq {
  border-left: 1px dashed gray; }
  .divisor_izq:last-child {
    border-left: none; }

.divisor_top {
  border-top: 1px dashed gray; }
  .divisor_top:last-child {
    border-top: none; }

.divisor_down {
  border-bottom: 1px dashed gray; }
  .divisor_down:last-child {
    border-bottom: none; }

.clear_b:after, .clear_b:before {
  content: "";
  clear: both;
  display: table; }

/*Width ↓↓↓*/
.w10 {
  width: 10%; }
  .w10:after, .w10:before {
    content: "";
    clear: both;
    display: table; }

/*Margins ↓↓↓*/
.mt10 {
  margin-top: 10px; }

.mb10 {
  margin-bottom: 10px; }

.mr10 {
  margin-right: 10px; }

.ml10 {
  margin-left: 10px; }

/*Width ↓↓↓*/
.w20 {
  width: 20%; }
  .w20:after, .w20:before {
    content: "";
    clear: both;
    display: table; }

/*Margins ↓↓↓*/
.mt20 {
  margin-top: 20px; }

.mb20 {
  margin-bottom: 20px; }

.mr20 {
  margin-right: 20px; }

.ml20 {
  margin-left: 20px; }

/*Width ↓↓↓*/
.w30 {
  width: 30%; }
  .w30:after, .w30:before {
    content: "";
    clear: both;
    display: table; }

/*Margins ↓↓↓*/
.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mr30 {
  margin-right: 30px; }

.ml30 {
  margin-left: 30px; }

/*Width ↓↓↓*/
.w40 {
  width: 40%; }
  .w40:after, .w40:before {
    content: "";
    clear: both;
    display: table; }

/*Margins ↓↓↓*/
.mt40 {
  margin-top: 40px; }

.mb40 {
  margin-bottom: 40px; }

.mr40 {
  margin-right: 40px; }

.ml40 {
  margin-left: 40px; }

/*Width ↓↓↓*/
.w50 {
  width: 50%; }
  .w50:after, .w50:before {
    content: "";
    clear: both;
    display: table; }

/*Margins ↓↓↓*/
.mt50 {
  margin-top: 50px; }

.mb50 {
  margin-bottom: 50px; }

.mr50 {
  margin-right: 50px; }

.ml50 {
  margin-left: 50px; }

/*Width ↓↓↓*/
.w60 {
  width: 60%; }
  .w60:after, .w60:before {
    content: "";
    clear: both;
    display: table; }

/*Margins ↓↓↓*/
.mt60 {
  margin-top: 60px; }

.mb60 {
  margin-bottom: 60px; }

.mr60 {
  margin-right: 60px; }

.ml60 {
  margin-left: 60px; }

/*Width ↓↓↓*/
.w70 {
  width: 70%; }
  .w70:after, .w70:before {
    content: "";
    clear: both;
    display: table; }

/*Margins ↓↓↓*/
.mt70 {
  margin-top: 70px; }

.mb70 {
  margin-bottom: 70px; }

.mr70 {
  margin-right: 70px; }

.ml70 {
  margin-left: 70px; }

/*Width ↓↓↓*/
.w80 {
  width: 80%; }
  .w80:after, .w80:before {
    content: "";
    clear: both;
    display: table; }

/*Margins ↓↓↓*/
.mt80 {
  margin-top: 80px; }

.mb80 {
  margin-bottom: 80px; }

.mr80 {
  margin-right: 80px; }

.ml80 {
  margin-left: 80px; }

/*Width ↓↓↓*/
.w90 {
  width: 90%; }
  .w90:after, .w90:before {
    content: "";
    clear: both;
    display: table; }

/*Margins ↓↓↓*/
.mt90 {
  margin-top: 90px; }

.mb90 {
  margin-bottom: 90px; }

.mr90 {
  margin-right: 90px; }

.ml90 {
  margin-left: 90px; }

/*Width ↓↓↓*/
.w100 {
  width: 100%; }
  .w100:after, .w100:before {
    content: "";
    clear: both;
    display: table; }

/*Margins ↓↓↓*/
.mt100 {
  margin-top: 100px; }

.mb100 {
  margin-bottom: 100px; }

.mr100 {
  margin-right: 100px; }

.ml100 {
  margin-left: 100px; }

.text-white {
  color: #fff; }

.text-black {
  color: #000; }

.text-gray {
  color: #B1B2B2; }

.text-gray2 {
  color: #CCCBCB; }

.text-gray3 {
  color: #A6A6A2; }

.text-gray4 {
  color: #6B6D6C; }

.text-gray5 {
  color: #ECEDEF; }

.text-yellow {
  color: #F7941E; }

.text-yellow2 {
  color: #F8CD89; }

.text-yellow3 {
  color: #FECB04; }

.text-orange {
  color: #F26323; }

.text-orange2 {
  color: #F3B38B; }

.text-naranja {
  color: #F58220; }

.text-naranja2 {
  color: #F5B369; }

.text-naranja3 {
  color: #EE8600; }

.text-cafe {
  color: #A35519; }

.text-red {
  color: #BE1E2D; }

.text-red2 {
  color: #DB6F89; }

.text-red3 {
  color: #591613; }

.text-lila {
  color: #A52082; }

.text-lila2 {
  color: #D083B8; }

.text-mora {
  color: #582E91; }

.text-mora2 {
  color: #9D79B3; }

.text-darkBlue {
  color: #27677b; }

.text-lightBlue {
  color: #41a5c6; }

.text-blue {
  color: #27AAE1; }

.text-blue2 {
  color: #84CBEF; }

.text-blue3 {
  color: #578DA1; }

.text-blue4 {
  color: #002933; }

.text-blue5 {
  color: #27A29B; }

.text-blue6 {
  color: #2548B2; }

.text-blue7 {
  color: #28679C; }

.text-blue8 {
  color: #00ABA3; }

.text-blue9 {
  color: #386482; }

.text-green {
  color: #7F8D2C; }

.text-green2 {
  color: #25A237; }

.text-coffee {
  color: #A35519; }

.bg-white {
  background-color: #fff; }

.bg-black {
  background-color: #000; }

.bg-gray {
  background-color: #B1B2B2; }

.bg-gray2 {
  background-color: #CCCBCB; }

.bg-gray3 {
  background-color: #A6A6A2; }

.bg-gray4 {
  background-color: #6B6D6C; }

.bg-gray5 {
  background-color: #ECEDEF; }

.bg-yellow {
  background-color: #F7941E; }

.bg-yellow2 {
  background-color: #F8CD89; }

.bg-yellow3 {
  background-color: #FECB04; }

.bg-orange {
  background-color: #F26323; }

.bg-orange2 {
  background-color: #F3B38B; }

.bg-naranja {
  background-color: #F58220; }

.bg-naranja2 {
  background-color: #F5B369; }

.bg-naranja3 {
  background-color: #EE8600; }

.bg-cafe {
  background-color: #A35519; }

.bg-red {
  background-color: #BE1E2D; }

.bg-red2 {
  background-color: #DB6F89; }

.bg-red3 {
  background-color: #591613; }

.bg-lila {
  background-color: #A52082; }

.bg-lila2 {
  background-color: #D083B8; }

.bg-mora {
  background-color: #582E91; }

.bg-mora2 {
  background-color: #9D79B3; }

.bg-darkBlue {
  background-color: #27677b; }

.bg-lightBlue {
  background-color: #41a5c6; }

.bg-blue {
  background-color: #27AAE1; }

.bg-blue2 {
  background-color: #84CBEF; }

.bg-blue3 {
  background-color: #578DA1; }

.bg-blue4 {
  background-color: #002933; }

.bg-blue5 {
  background-color: #27A29B; }

.bg-blue6 {
  background-color: #2548B2; }

.bg-blue7 {
  background-color: #28679C; }

.bg-blue8 {
  background-color: #00ABA3; }

.bg-blue9 {
  background-color: #386482; }

.bg-green {
  background-color: #7F8D2C; }

.bg-green2 {
  background-color: #25A237; }

.bg-coffee {
  background-color: #A35519; }

/*//////////////////////////////////////////////
        // INICIO COMPONENTES MATERIALIZE //////////////
        //////////////////////////////////////////////*/
.valign-wrapper {
  display: flex;
  align-items: center; }
  .valign-wrapper .valign {
    display: block; }

ul {
  padding: 0;
  list-style-type: none; }
  ul li {
    list-style-type: none; }

.z-depth-0 {
  box-shadow: none !important; }

.z-depth-1, .digitalButton, .dropdown-content {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.z-depth-1-half, .digitalButton:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.z-depth-4, .modal {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }

.hoverable {
  transition: box-shadow .25s;
  box-shadow: 0; }

.hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #CCCBCB; }

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px; }

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }
  .parallax img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translateX(-50%); }

.pin-top, .pin-bottom {
  position: relative; }

.pinned {
  position: fixed !important; }

/*********************
  Transition Classes
**********************/
ul.staggered-list li {
  opacity: 0; }

.fade-in {
  opacity: 0;
  transform-origin: 0 50%; }

/*** Colors ***/
.material-tooltip {
  padding: 10px 8px;
  font-size: 1rem;
  z-index: 2000;
  background-color: transparent;
  border-radius: 2px;
  color: #fff;
  min-height: 36px;
  line-height: 120%;
  opacity: 0;
  display: none;
  position: absolute;
  text-align: center;
  max-width: calc(100% - 4px);
  overflow: hidden;
  left: 0;
  top: 0;
  will-change: top, left; }

.backdrop {
  position: absolute;
  opacity: 0;
  display: none;
  height: 7px;
  width: 14px;
  border-radius: 0 0 14px 14px;
  background-color: #323232;
  z-index: -1;
  transform-origin: 50% 10%;
  will-change: transform, opacity; }

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 80%;
  width: 80%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity; }
  .modal h1, .modal h2, .modal h3, .modal h4 {
    margin-top: 0; }
  .modal .modal-content {
    padding: 24px; }
  .modal .modal-close {
    cursor: pointer; }
  .modal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 0px 10px;
    height: 60px;
    width: 100%; }
    .modal .modal-footer .btn, .modal .modal-footer .btn-flat, .modal .modal-footer .digitalButton {
      float: right;
      margin: 6px 0; }

.lean-overlay {
  position: fixed;
  z-index: 999;
  top: -100px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;
  will-change: opacity; }

.modal.modal-fixed-footer {
  padding: 0;
  height: 70%; }
  .modal.modal-fixed-footer .modal-content {
    position: absolute;
    height: calc(100% - 56px);
    max-height: 100%;
    width: 100%;
    overflow-y: auto; }
  .modal.modal-fixed-footer .modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0; }

.modal.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 45%;
  border-radius: 0;
  will-change: bottom, opacity; }

/* slider */
.slider {
  position: relative;
  height: 400px;
  width: 100%; }
  .slider.fullscreen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .slider.fullscreen ul.slides {
      height: 100%; }
    .slider.fullscreen ul.indicators {
      z-index: 2;
      bottom: 30px; }
  .slider .slides {
    background-color: #B1B2B2;
    margin: 0;
    height: 400px; }
    .slider .slides li {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: inherit;
      overflow: hidden; }
      .slider .slides li img {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center; }
      .slider .slides li .caption {
        color: #fff;
        position: absolute;
        top: 15%;
        left: 15%;
        width: 70%;
        opacity: 0; }
      .slider .slides li.active {
        z-index: 2; }
  .slider .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0; }
    .slider .indicators .indicator-item {
      display: inline-block;
      position: relative;
      cursor: pointer;
      height: 16px;
      width: 16px;
      margin: 0 12px;
      background-color: #B1B2B2;
      transition: background-color .3s;
      border-radius: 50%; }
      .slider .indicators .indicator-item.active {
        background-color: #7F8D2C; }

/* dropdown */
.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 100px;
  max-height: 650px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  z-index: 999;
  will-change: width, height; }
  .dropdown-content li {
    clear: both;
    cursor: pointer;
    min-height: 40px;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none; }
    .dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
      background-color: #eee; }
    .dropdown-content li.active.selected {
      background-color: #e1e1e1; }
    .dropdown-content li.divider {
      min-height: 0;
      height: 1px; }
    .dropdown-content li > a, .dropdown-content li > span {
      font-size: 16px;
      color: #A6A6A2;
      display: block;
      line-height: 22px;
      padding: 9px 16px; }
    .dropdown-content li > span > label {
      top: 1px;
      left: 3px;
      height: 18px; }
    .dropdown-content li > a > i {
      height: inherit;
      line-height: inherit; }

.dropdown-button.digitalButton {
  margin: 0 0; }

/*//////////////////////////////////////////////
        // FIN COMPONENTES MATERIALIZE /////////////////
        //////////////////////////////////////////////*/
/*//////////////////////////////////////////////
// ESTILOS BASE DEL PROYECTO ////////////////////////
//////////////////////////////////////////////*/
body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  color: #333; }

a {
  color: initial;
  text-decoration: none; }

p, blockquote, li {
  font-size: 1rem;
  line-height: 110%; }

p {
  margin: 0 0 1rem 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: normal;
  color: #222; }

h1 {
  font-size: 3.5rem;
  line-height: 110%;
  line-height: 110%; }

h2 {
  font-size: 2.5rem;
  line-height: 110%; }

h3 {
  font-size: 1.5rem;
  line-height: 110%; }

h4 {
  font-size: 1.2rem;
  line-height: 110%; }

h5 {
  font-size: 1rem;
  line-height: 110%; }

h6 {
  font-size: 0.9rem;
  line-height: 110%; }

pre {
  background-color: #3E3E3E;
  padding: 15px;
  font-size: 0.9em;
  color: #fff;
  border-radius: 3px; }

#cuadricula:before, #cuadricula:after {
  clear: both;
  content: " ";
  display: table;
  width: 100%; }

#cuadricula > div, #cuadricula > .div {
  float: left;
  width: 19.6%;
  margin-right: 0.5%;
  margin-bottom: 0.5%; }
  #cuadricula > div:nth-child(5n), #cuadricula > .div:nth-child(5n) {
    margin-right: 0;
    clear: right; }
  #cuadricula > div:nth-child(5n+1), #cuadricula > .div:nth-child(5n+1) {
    clear: left; }

#cuadricula div {
  background-color: tomato; }

.grilla-ejemplo {
  background-color: tomato;
  color: #FFF;
  min-height: 40px;
  margin: 5px 0; }
