// INICIO FRAMEWORK ////////////////////////////
	@import "../../framework/flexbox";
	@import "../../framework/mixins";
/* BOTONES */
span.boton{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	margin-left: 10px;
}
.boton{
	font-family: 'hobgo';
	text-align: center;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 43px;
	height: 43px;
	color: $gray;
	cursor: pointer;
	position: relative;
	border-radius: 50%;
	background-color: $gray;
	margin-bottom: 30px;
	&.check,
	&.start,
	&.click,
	&.new{
		margin-right: 25px;
		margin-left: 25px;
		> span{
			text-align: center;
			width: 100px;
			left: -30px;
		}
	}
	> span{
		width: 100%;
		display: inline-block;
		text-align: center;
		position: absolute;
		top: 45px;
		left: 0px;
		font-size: 15px;
	}
	&.rec{
		background-image: url(../img/rec.svg);
		color: $yellow;
		background-color: $yellow;
		&:hover{
			color: $yellow2;
			background-color: $yellow2;
		}
	}
	&.audio{
		background-image: url(../img/audio.svg);
		color: $orange;
		background-color: $orange;
		&:hover{
			color: $orange2;
			background-color: $orange2;
		}
	}
	&.cloud{
		background-image: url(../img/cloud.svg);
		color: $red;
		background-color: $red;
		&:hover{
			color: $red2;
			background-color: $red2;
		}
	}
	&.check{
		background-image: url(../img/check.svg);
		color: $lila;
		background-color: $lila;
		&:hover{
			color: $lila2;
			background-color: $lila2;
		}
	}
	&.start{
		background-image: url(../img/start.svg);
		color: $mora;
		background-color: $mora;
		&:hover{
			color: $mora2;
			background-color: $mora2;
		}
	}
	&.click{
		background-image: url(../img/click.svg);
		color: $blue;
		background-color: $blue;
		&:hover{
			color: $blue2;
			background-color: $blue2;
		}
	}
	&.notice{
		background-image: url(../img/notice.svg);
		color: $naranja;
		background-color: $naranja;
		position: relative;
		&:hover{
			color: $naranja2;
			background-color: $naranja2;
		}
		img, div.cont{
			position: absolute;
			z-index: 15;
		}
		div.cont{
			display: none;
			color: $white;
			background-color: $naranja;
			min-height: 150px;
			min-width: 150px;
			border-radius: 15px;
			cursor: initial;
			font-weight: normal;
			font-family: 'Alegreya Sans', sans-serif;
			text-align: left;
			padding: 10px;
			p{
				font-size: 1em;
			}
			.logo {
				height: 40px;
				width: 80px;
				background-image: url("../img/notice_logo.png");
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
	}
	&.new{
		background-image: url(../img/new.svg);
		color: blue;
		background-color: blue;
		&:hover{
			background-color: $blue;
			color: $blue;
		}
    }
    &.compare{
		background-image: url(../img/compare.svg);
		color: $blue5;
		background-color: $blue5;
		&:hover{
			background-color: $blue2;
			color: $blue2;
		}
    }
    &.help{
		background-image: url(../img/help.svg);
		color: $yellow3;
		background-color: $yellow3;
		&:hover{
			background-color: $yellow4;
			color: $yellow4;
		}
		img, div.cont{
			position: absolute;
			z-index: 15;
		}
		div.cont{
			color: $white;
			background-color: $naranja;
			min-height: 150px;
			min-width: 150px;
			border-radius: 15px;
		}

    }
}

/* BOTON UNIR */
.botonesUnir{
	margin-top: 10px;
	margin-bottom: 10px;
	@include clear_b();
	& div[class^="botonUnir"]{
		width: 100%;
		min-width: 100px;
		padding: 6px 0px;
		color: $white;
		border-radius: 5px;
		position: relative;
		text-align: center;
		display: inline-block;
		background-color: $blue;
		&.bien{
			color: $white;
			font-weight: bold;
			background-color: $bien;
		}
		&.mal{
			color: $white;
			font-weight: bold;
			background-color: $mal;
		}
		&:after{
			content: "";
			position: absolute;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			box-shadow: 0 0 0 2px $blue;
			background-color: $white;
			top: 0;
			bottom: 0;
			margin: auto;
			cursor: pointer;
		}
	}
	.botonUnir_1{
		float: left;
		&:after{
			right: -15px;
		}
	}
	.botonUnir_2{
		float: right;
		&:after{
			left: -15px;
		}
	}
}

/* GENERAL BUTTON */
span.general-button{
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	margin-left: 5px;
	font-size: 19px;
	padding: 0 7px;
}
.general-button{
	position: relative;
	min-width: 30px;
	height: 25px;
	padding: 3px 7px;
	color: $gray4;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	border-radius: 12px 0;
	background-color: $gray2;
	box-shadow: 0px 4px 0px $gray3;
	&.sel{
		color: $white;
		background-color: $blue;
		box-shadow: 0px 4px 0px $blue3;
	}
	&.bien{
		color: $white;
		background-color: $bien;
		box-shadow: 0px 4px 0px $green;
	}
	&.mal{
		color: $white;
		background-color: $mal;
		box-shadow: 0px 4px 0px $red3;
	}
	&:active{
		box-shadow: 0px 2px 0px $gray3;
		top: 1px;
	}
}

/* BOTON-CHECK BOTON-X */
span.boton-check, span.boton-x{
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
	margin-left: 3px;
}
.boton-check, .boton-x{
	cursor: pointer;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	background-color: $naranja3;
	background-repeat: no-repeat;
	&.bien{
		background-color: $bien;
	}
	&.mal{
		background-color: $mal;
	}
}
.boton-check{
	background-image: url(../img/boton-check.svg);
}
.boton-x{
	background-image: url(../img/boton-x.svg);
}
.simpleAudio{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 43px;
	height: 43px;
	cursor: pointer;
	position: relative;
	border-radius: 50%;
	background-image: url(../img/simpleAudio.svg);
	&:hover{
		opacity: .6;
	}
}
