.boxLeft{
	transform: skewX(20deg);
	span{
		color: $white;
		display: inline-block;
		transform: skewX(-20deg);
	}
}
.boxRight{
	transform: skewX(-20deg);

	span{
		transform: skewX(20deg);
	}

}
.boxRight,.boxLeft{
	padding: 15px;
	margin: 5px 0;
	span{
		color: $white;
		display: inline-block;
	}
	&.yellow{
		background:$yellow3;
		-webkit-box-shadow: 3px 3px 0 0 #AD8E09;
		box-shadow: 3px 3px 0 0 #AD8E09;
	}
	&.purple{
		background:$mora;
		-webkit-box-shadow: 3px 3px 0 0 #552059;
		box-shadow: 3px 3px 0 0 #552059;
	}
	&.blue{
		background:$blue8;
		-webkit-box-shadow: 3px 3px 0 0 #007975;
		box-shadow: 3px 3px 0 0 #007975;
	}
	&.orange{
		background:$orange;
		-webkit-box-shadow: 3px 3px 0 0 #A13B16;
		box-shadow: 3px 3px 0 0 #A13B16;
	}
	&.pink{
		background:$red2;
		-webkit-box-shadow: 3px 3px 0 0 #A23A5B;
		box-shadow: 3px 3px 0 0 #A23A5B;
	}
	&.orange2{
		background:$naranja;
		-webkit-box-shadow: 3px 3px 0 0 #A97612;
		box-shadow: 3px 3px 0 0 #A97612;
	}
	&.green{
		background: $green2;
		-webkit-box-shadow: 3px 3px 0 0 #09672F;
		box-shadow: 3px 3px 0 0 #09672F;
	}
}
