/* SELECTS */
label.input{
    position: relative;
    min-width: 150px;
    height: 22px;
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    select{
        cursor: pointer;
        width:100%;
        height:32px;
        padding: 0;
        padding-left: 6px;
        border-radius: 4px;
        border: none;
        background-color: $gray5;
    }
    &:hover::before{
        background-color: $blue2;
    }
    &:before {
        content:'';
        right:0px;
        top:0px;
        width:25px;
        height:32px;
        background-color: $blue;
        border-left: $blue3 1px solid;
        position:absolute;
        pointer-events:none;
        display:block;
        border-radius: 0 4px 4px 0;
    }
    &:after {
        content:'>';
        font-weight: bold;
        font:20px "Consolas", monospace;
        color:$white;
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        transform:rotate(90deg);
        right:6px;
        top:6px;
        position:absolute;
        pointer-events: none;
    }

    // ESTADOS
    &.sel{
        select{
            color: $white;
            font-weight: bold;
            background-color: $blue2;
        }
    }
    &.bien{
        select{
            color: $white;
            font-weight: bold;
            background-color: $bien;
        }
        &:before{
            background-color: $green;
            border-left: none;
        }
    }
    &.mal{
        select{
            color: $white;
            font-weight: bold;
            background-color: $mal;
        }
        &:before{
            background-color: $red3;
            border-left: none;
        }
    }
}

/* INPUTS Y TEXTAREAS */
.btnPest{
    position: relative;
    margin: 5px;
    height: 32px;
    min-width: 143px;
    border: none;
    padding: 0 5px;
    display: inline-block;
    background-color: $mora2;
    input{
        width: 100%;
        height: 100%;
        color: #fff;
        border: none;
        padding: 0 7px;
        text-align: center;
        background-color: transparent;
        background-image: none;
        -webkit-box-shadow: none;
        -moz-box-shadow:    none;
        box-shadow:         none;
        &::-webkit-input-placeholder {
           color: $white;
           font-style: italic;
        }
        &::-moz-placeholder { /* Firefox 18- */
           color: $white;
           font-style: italic;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
           color: $white;
           font-style: italic;
        }

        &:-ms-input-placeholder {
           color: $white;
           font-style: italic;
        }
    }
    &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        top: -4px;
        right: 4px;
        background-image: url(../img/pest1.svg);
        background-position: top left;
        background-repeat: no-repeat;
    }
    &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 39px;
        bottom: -39px;
        right: 0px;
        background-image: url(../img/pest2.svg);
        background-position: top right;
        background-repeat: no-repeat;
    }
    &.bien{
        font-weight: bold;
        background-color: $bien;
        &:before{
            background-image: url(../img/pestBien1.svg);
        }
        &:after{
            background-image: url(../img/pestBien2.svg);
        }
    }
    &.mal{
        font-weight: bold;
        background-color: $mal;
        &:before{
            background-image: url(../img/pestMal1.svg);
        }
        &:after{
            background-image: url(../img/pestMal2.svg);
        }
    }
}
textarea{
    width: 100%;
    position: relative;
    border-radius: 8px;
    border: solid 2px $mora;
    padding: 4px 8px;
    resize:none;
    outline: none;
    &.bien{
        border: none;
        color: $white;
        font-weight: bold;
        background-color: $bien;
    }
    &.mal{
        border: none;
        color: $white;
        font-weight: bold;
        background-color: $mal;
    }
}
input{
    border: 1px solid $mora;
    border-radius: 4px;
    background-image: url(../img/line-input.png);
    background-repeat: repeat-x;
    background-position: 0 23px;
    padding: 5px 9px;
    color: #575756;
    font-size: 18px;
    &.bien{
        background-color: $bien;
        color: $white;
    }
    &.mal{
        background-color: $mal;
        color: $white;
    }
    &::-webkit-input-placeholder {
        font-style: italic;
        color: #7a7a7a
    }
    &::-moz-placeholder { /* Firefox 18- */
        font-style: italic;
        color: #7a7a7a
    }
    &::-moz-placeholder {  /* Firefox 19+ */
        font-style: italic;
        color: #7a7a7a
    }
    &:-ms-input-placeholder {
        font-style: italic;
        color: #7a7a7a
    }
}
