/*Comienza el header*/
header{
    height: 110px;
    width: 897px;
    margin: auto;
    position: relative;
    // Menu despleglable superior, contiene los Modulos.
    .dropup, .dropdown {
        position: relative;
    }
    .dropdown-toggle:focus {
        outline: 0;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        -webkit-background-clip: padding-box;
                        background-clip: padding-box;
    }
    .dropdown-menu.pull-right {
        right: 0;
        left: auto;
    }
    .dropdown-menu .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }
    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333333;
        white-space: nowrap;
    }
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
    }
    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus {
        color: #ffffff;
        text-decoration: none;
        outline: 0;
        background-color: #337ab7;
    }
    .dropdown-menu > .disabled > a,
    .dropdown-menu > .disabled > a:hover,
    .dropdown-menu > .disabled > a:focus {
        color: #777777;
    }
    .dropdown-menu > .disabled > a:hover,
    .dropdown-menu > .disabled > a:focus {
        text-decoration: none;
        background-color: transparent;
        background-image: none;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        cursor: not-allowed;
    }
    .open > .dropdown-menu {
        display: block;
    }
    .open > a {
        outline: 0;
    }
    .dropdown-menu-right {
        left: auto;
        right: 0;
    }
    .dropdown-menu-left {
        left: 0;
        right: auto;
    }
    .dropdown-header {
        display: block;
        padding: 3px 20px;
        font-size: 12px;
        line-height: 1.42857143;
        color: #777777;
        white-space: nowrap;
    }
    .dropdown-backdrop {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 990;
    }
    .pull-right > .dropdown-menu {
        right: 0;
        left: auto;
    }
    .dropup .caret,
    .navbar-fixed-bottom .dropdown .caret {
        border-top: 0;
        border-bottom: 4px dashed;
        border-bottom: 4px solid \9;
        content: "";
    }
    .dropup .dropdown-menu,
    .navbar-fixed-bottom .dropdown .dropdown-menu {
        top: auto;
        bottom: 100%;
        margin-bottom: 2px;
    }
    @media (min-width: 768px) {
        .navbar-right .dropdown-menu {
            left: auto;
            right: 0;
        }
        .navbar-right .dropdown-menu-left {
            left: 0;
            right: auto;
        }
    }

    .wrapMenuDrop{
        background: #845434;
        font-family: 'Sniglet';
        width: 107px;
        height: 30px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        .dropdown{
            display: inline-block;
            width: 100%;
            text-align: center;
            a{
                color: #fff;
                opacity: .8;
                display: inline-block;
                font-size: 20px;
                &:hover{
                    text-decoration: none;
                    opacity: 1;
                }
                &:focus{
                    text-decoration: none;
                    opacity: 1;
                }
            }
            .dropdown-toggle{
                width: 100%;
                height: 100%;
            }
            .dropdown-menu{
                background-color: #f2eabd;
                border:none;
                margin: 0;
                min-width: 90px;
                li{
                        list-style: none;
                    a{
                        color: #845434 !important;
                         font-family: 'Sniglet';
                         padding: 2px 0;
                         text-align: center;
                         font-size: 18px;
                         opacity: 0.6;
                         border-bottom: 1px solid #845434;
                         margin:0 10px;
                         &:hover{
                            opacity: 1;
                            background: no-repeat;
                         }
                    }
                    &:last-of-type{
                        a{
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
    // Barras de progreso
    .barras{
        position: absolute;
        right: 21%;
        top: 37px;
        p.txt02{
            font-size: medium!important;
        }
        .proBar{
            color: #845434;
        }
        .downRight .dropdown-menu{
            left: -12px;
        }
        .content_barra_progreso{
            position: relative;
            width: 170px;
            height: 12px;
            font-family: twcent;
            color: #666;
            border-radius: 10px;
            text-align: left;
            background: #CCC;
            overflow: hidden;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
            }
            .barra{
                background: #F2F2F2;
                height: 100%;
                width: 100%;
                z-index: 10;
                position: relative;
            }
        }
        .barra1{
            width: 170px;
            float: right;
            .content_barra_progreso{
                .barra{
                    margin-left: 0%;
                }
            }
        }
        .barra2{
            width: 210px;
            float: right;
            .content_barra_progreso{
                .barra{
                    margin-left: 0%;
                }
            }
            .barra{
                margin-left: 0%;
            }
        }
    }
}
/*Termina el header*/