span.icon{
    display: inline-block;
    vertical-align: middle;
}
.icon{
    margin: 5px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: $lila;
    background-position: center;
    background-repeat: no-repeat;
    &.rec{
        background-image: url(../img/icon-rec.svg);
    }
    &.read{
        background-image: url(../img/icon-read.svg);
    }
    &.check{
        background-image: url(../img/icon-check.svg);
    }
    &.video{
        background-image: url(../img/icon-video.svg);
    }
    &.write{
        background-image: url(../img/icon-write.svg);
    }
}
