table.tabla{
    width: 100%;
    tr{
        &:nth-child(odd){
            background-color: $blue2;
        }
        &:nth-child(even){
            background-color: $blue;
        }
        th{
            color: $white;
            font-weight: bold;
            padding: 10px 5px;
            text-align: center;
            background-color: $blue4;
            border-right: 1px solid $white;
            &:last-child{
                border-right: none;
            }
        }
        td{
            color: $blue4;
            padding: 10px 5px;
            text-align: center;
            border-right: 1px solid $white;
            &:last-child{
                border-right: none;
            }
        }
    }
}
table.tabla2{
    width: 100%;
    background-color: $blue;
    tr{
        th{
            color: $white;
            font-weight: bold;
            padding: 10px 5px;
            text-align: center;
            border: solid 1px $white;
        }
        td{
            color: $white;
            padding: 10px 5px;
            text-align: center;
            border: solid 1px $white;
        }
    }
}
/* TRUE FALSE */
table.trueFalse{
    width: 100%;
    tr{
        td{
            // width: 35px;
            height: 35px;
            &:first-child{
                color: $blue;
                font-weight: bold;
                width: 35px;
            }
            &:nth-child(n+3) {
                width: 45px;
            }
            .true{
                width: 25px;
                height: 25px;
                color: $white;
                cursor: pointer;
                font-weight: bold;
                border-radius: 8px;
                text-align: center;
                background-color: $gray2;
                box-shadow: 0px 4px 0px $gray3;
                user-select: none;
                -ms-user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                &.sel{
                    background-color: $blue;
                    box-shadow: 0px 4px 0px $blue3;
                }
                &.bien{
                    background-color: $bien;
                    box-shadow: 0px 4px 0px $green;
                }
                &.mal{
                    background-color: $mal;
                    box-shadow: 0px 4px 0px $red3;
                }
            }
        }
    }
}
