// /* ===== floats =====*/
// .f-l {
//   float: left;
// }
// .f-r {
//   float: right;
// }

// // Mizins y loops
// @mixin clear_b{
//     &:after, &:before{
//         content: "";
//         clear: both;
//         display: table;
//     }
// }
// .clear_b{
//     @include clear_b;
// }
// @for $i from 1 through 10 {
//     /*Width ↓↓↓*/
//     .w#{$i}0 {
//         @include clear_b;
//         width: #{$i}0%;
//     }
//     /*Margins ↓↓↓*/
//     .mt#{$i}0{
//         margin-top: #{$i}0px;
//     }
//     .mb#{$i}0{
//         margin-bottom: #{$i}0px;
//     }
//     .mr#{$i}0{
//         margin-right: #{$i}0px;
//     }
//     .ml#{$i}0{
//         margin-left: #{$i}0px;
//     }
// }
// FIN Mizins y loops