// CONTENEDOR NARANJA
span.wrapNaranja{
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	margin-left: 5px;
	padding: 2px 13px;
	&::before, &::after{
		width: 30px;
	}
}
.wrapNaranja{
	color: $white;
	height: auto;
	padding: 20px;
	background-color: $naranja3;
	position: relative;
	margin-top: 4%;
	margin-bottom: 4%;
	text-align: justify;
	&:before{
		content: "";
		position: absolute;
		width: 20%;
		height: 39px;
		top: -39px;
		left: 0;
		background-image: url(../img/contPest1.svg);
		background-position: top left;
		background-repeat: no-repeat;
	}
	&:after{
		content: "";
		position: absolute;
		width: 20%;
		height: 39px;
		bottom: -39px;
		right: 0px;
		background-image: url(../img/contPest2.svg);
		background-position: top right;
		background-repeat: no-repeat;
	}
	p{
		color: $white;
	}
}
